node_modules/
__pycache__/
*.pyc
.env
.env.local
.env.*.local
data/models_backup.json
logs/
*.log
.DS_Store
.vscode/
.idea/
*.swp
*.swo
data/models.json.mock

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
